li {
  list-style: none;
}


.platform-netflix img {
  width: 300px;
  height: 300px;
}

.platform-tving img {
  width: 250px;
  height: 250px;
}

.platform-disneyplus img {
  width: 380px;
  height: 380px;
}