li {
  list-style: none;
}

.platform-netflix {
  display: flex;
  text-decoration: none;
}

p{
  flex-direction: column;
}


.platform-netflix img {
  width: 250px;
  height: 250px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.platform-tving img {
  width: 200px;
  height: 200px;
  padding-left: 43px;
}

.platform-disneyplus img {
  width: 290px;
  height: 290px;
}