.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header-container {
  background-color: #191d24;
}

.header-wrap {
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
}

.header-login {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}






